%p#notice= notice

%p
  %b User:
  = @feedback.user_id
%p
  %b Title:
  = @feedback.title
%p
  %b Description:
  = @feedback.description
%p
  %b Status:
  = @feedback.status

= link_to 'Edit', edit_feedback_path(@feedback)
\|
= link_to 'Back', feedbacks_path
